<!-- page Navigation Bar -->
<app-navbar></app-navbar>
<div class="container-fluid">
<!-- Page content -->
<div class="col-sm-9 main">
  
  <div class="card container" id="main-container">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </div>
    
</div>

 <!-- Side navigation -->
 <div class="sidenav">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Add Grocery</div>
    <div class="card-body">
      <p class="card-text">Add a product to your grocery list</p><br><br>
      <div class="example-button-container">
        <button routerLink="/addproduct" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="del">
          <mat-icon>add</mat-icon>
        </button>
    </div>
    </div>
  </div>
  
</div>

</div>

